.wrapper_Middle {
    display: grid;
    background-color: rgb(37, 37, 37);
    grid-template-columns: 1fr 5fr 1fr;
    padding-top: 0.5rem;
}

@media all and (max-width: 575px) {
    .wrapper_Middle {
        grid-auto-rows: min-content;
        grid-template-columns: 1fr;
    }
}

.body {
    background: rgb(37, 37, 37);
}

.pop-up-content {
    max-width: 100%;
    max-height: 5%;
}

.pop-up-image-preview {
    max-width: 100%;
    max-height: 20vh;
}

.nav-item-edit-input {
    width: 8rem;
    border-radius: 3px;
    outline: none;
}

.nav-item-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2rem;
    background: rgb(127, 127, 127);
    border-radius: 3px;
    margin: 2px;
}

.nav-item-edit-button:hover{
    background: rgb(180, 180, 180);
}