
.wrapper_Middle {
    min-height:100%;
    display: grid;
    background-color: red;
    grid-template-rows: 100%;
    grid-template-columns: 200px 1fr 200px;
}

.left_iner {
    margin-left: 10px;
}

.preview {
    background: rgb(133, 133, 133);
}

.preview img{
    display: flex;
    justify-content: center;
    max-width: 70%;
}

.preview:hover {
    background: rgb(95, 95, 95);
}