.popUpBG {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpContainer {
    color: white;
    width: 400px;
    min-height: 300px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpContainer button {
    width: 300px;
    height: 40px;
    color: white;
    background-color: rgb(51, 51, 55);
    border: none;
}

.popUpContainer button:hover {
    background-color: rgb(63, 63, 64);
}

.popUpContainer button:focus {
    outline: none;
}

.popUpContainer input {
    width: 300px;
    height: 40px;
}

.popUpContainer input:focus {
    outline: 2px solid rgb(63, 63, 64);
}


.popUpContainer button.closeBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 20px;
}

.popUpContainer button.closeBtn:hover {
    background-color: rgb(51, 51, 55);
}

.popUpContainer button.closeBtn:focus {
    outline: none;
}

.popUpContainer select {
    width: 300px;
    height: 40px;
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: white;
    border: 1px solid rgb(63, 63, 64);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    background-color: rgb(37, 37, 37);
    background-image: linear-gradient(rgb(51, 51, 55), rgb(51, 51, 55)), linear-gradient(-135deg, transparent 40%, rgb(51, 51, 55) 40%), linear-gradient(-225deg, transparent 40%, rgb(51, 51, 55) 40%), linear-gradient(rgb(51, 51, 55) 42%, rgb(63, 63, 64) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

.popUpContainer select:hover {
    background-image: linear-gradient(rgb(63, 63, 64), rgb(63, 63, 64)), linear-gradient(-135deg, transparent 40%, rgb(63, 63, 64) 40%), linear-gradient(-225deg, transparent 40%, rgb(63, 63, 64) 40%), linear-gradient(rgb(63, 63, 64) 42%, rgb(51, 51, 55) 42%);
}

.popUpContainer select:active {
    background-image: linear-gradient(rgb(63, 63, 64), rgb(63, 63, 64)), linear-gradient(-135deg, transparent 40%, rgb(63, 63, 64) 40%), linear-gradient(-225deg, transparent 40%, rgb(63, 63, 64) 40%), linear-gradient(rgb(63, 63, 64) 42%, rgb(51, 51, 55) 42%);
    color: rgb(51, 51, 55);
    border-color: rgb(63, 63, 64);
    background-color: rgb(63, 63, 64);
}
