.text-editor {
    background: white;
    border: 1px solid black;
    border-radius: 8px 8px;
    height: 100%;
    min-height: 300px;
    overflow-y: hidden;
}

.text-editor .DraftEditor-root {
    background-color: cadetblue;
    overflow-y: visible;
    height: 100%;
    min-height: 300px;
}

.text-editor .DraftEditor-editorContainer,
.text-editor .public-DraftEditor-content {
    height: 100%;
}

.align-right div {
    text-align: right;
}

.align-center div {
    text-align: center;
}

.align-left div {
    text-align: left;
}