.startPage {
    display: grid; /*
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;*/
    grid-template-areas: "h h" "l a";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 6fr 6fr;
    background-color: rgb(37, 37, 37);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.startPage h2 {
    grid-area: h;
    color: white;
    margin-left: 40px;
    margin-top: 15px;
}

.projectsPreviewList {
    grid-area: l;
    margin-left: 60px;
    margin-top: 25px;
}

.startPageActions {
    grid-area: a;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 60px;
}

.projectsPreviewList h4 {
    color: white;
}

.startPageActions h4{
    color: white;
}

.projectPreview {
    color: white;
    margin: 10px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.projectPreview:hover{
    background-color: rgb(63, 63, 64);
}

.startPageAction {
    width: 300px;
    height: 150px;
    margin: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(51, 51, 55);
}

.startPageAction:hover{
    background-color: rgb(63, 63, 64);
}