@page
@model Authentication.Auth.API.Pages.RegistrationModel;
@{
    ViewData["Title"] = "Регистрация";
}
@section styles{
    <link href="~/styles/index.css" rel="stylesheet" type="text/css" />
}

<div class="background">
    <div class="menu">
        <div class="menu-header">
            @Model.Message
        </div>
        <form method="post">
            <div class="menu-item">
                Name
            </div>
            <div class="menu-item">
                <input type="text" name="Name" />
            </div>
            <div class="menu-item">
                Email
            </div>
            <div class="menu-item">
                <input type="text" name="Email" />
            </div>
            <div class="menu-item">
                Password
            </div>
            <div class="menu-item">
                <input type="text" name="Password" />
            </div>
            <div class="menu-item">
                <input type="submit" value="Send" />
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
    <img src="~/assets/background.jpg" />
</div>
